@import url(./footerContact.css);
.footer {
  display: flex;
  flex-direction: column;
  background: url(../img/320/footer/footerBack.png),
    linear-gradient(180deg, #ebf3f8 0%, rgba(235, 243, 248, 0) 100%);
  background-repeat: no-repeat;
  background-position: 0px 2967px, 0px 0px;
}

.footer__companyInfo {
  display: flex;
  flex-direction: column;
  background: url(../img/320/main/blueWave.png),
    url(../img/320/main/notebooksLogo.png);
  background-repeat: no-repeat;
  background-position: 272px 40px, 283px 728px;
}
.footer__companyInfo > img:first-child {
  width: 29.33px;
  height: 20px;
  margin: 70px 0px 0px 10px;
}
.footer__companyInfo > p:nth-child(2) {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--textBlack);
  padding: 20px 15px 0px 9px;
}
.quotes2 {
  display: none;
}
.companyInfoMainBlock > img:nth-child(1) {
  width: 300px;
  height: 240px;
  border-radius: 15px;
  margin: 40px 0px 0px 9px;
}
.companyInfoMainBlock > img:nth-child(2) {
  width: 112px;
  height: 16px;
  margin: 30px 0px 0px 103px;
}
.companyInfo__text {
  padding: 34px 0px 0px 0px;
}
.companyInfo__text > span {
  display: block;
  font-family: "Montserrat";
  line-height: 22px;
  color: var(--textFadedBlack);
  padding: 6px 47px 4px 9px;
}
@media (min-width: 321px) {
  .footer {
    margin: 108px 0px 0px 0px;
    background: none;
    background: linear-gradient(180deg, #ebf3f8 0%, rgba(235, 243, 248, 0) 100%),
      url(../img/768/footer/image\ 26.png);
    background-repeat: no-repeat;
    background-position: 0px 0px, 0px 2077px;
  }
  .footer__companyInfo {
    background: none;
    background: url(../img/320/main/wave.png);

    background-repeat: no-repeat;
    background-position: -40px 175px;
  }
  .footer__companyInfo > img:first-child {
    margin: 80px 0px 0px 25px;
  }
  .footer__companyInfo > p:nth-child(2) {
    padding: 1px 57px 0px 58px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
  .quotes2 {
    display: block;
    margin: 0px 0px 0px 715px;
    width: 30px;
  }
  .companyInfoMainBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .companyInfo__text {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 0px 0px 0px;
  }
  .companyInfo__text > span {
    padding: 34px 20px 0px 25px;
  }
  .companyInfoMainBlock > img:first-child {
    grid-row-end: 2;
    grid-column-end: 3;
    margin: 47px 0px 0px 9px;
    width: 351px;
    height: 350px;
  }
  .companyInfoMainBlock > img:nth-child(2) {
    grid-row-end: 3;
    grid-column-end: 3;
    margin: 0px 0px 0px 130px;
  }
}
@media (min-width: 769px) {
  .footer {
    margin: 0px 0px 0px 0px;
    background-color: rgba(235, 243, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/320/main/wave.png),
      url(../img/320/main/coroner.png), url(../img/320/main/notebooksLogo.png),
      url(../img/1920/footer/image\ 26.png);
    background-repeat: no-repeat;
    background-position: 210px 280px, 765px 505px, 1465px 765px, 0px 2412px;
    background-size: 100px, 88px, 89px, 100%;
  }
  .footer__companyInfo {
    background: none;
    max-width: 1350px;
  }
  .footer__companyInfo > img:first-child {
    margin: 145px 0px 0px 305px;
  }
  .footer__companyInfo > p:nth-child(2) {
    padding: 0px 350px 0px 345px;
    text-align: center;
  }
  .footer__companyInfo > img:nth-child(3) {
    margin: 0px 0px 0px 1015px;
  }
  .companyInfoMainBlock > img:first-child {
    width: 635px;
    height: 480px;
    margin: 55px 0px 0px 15px;
  }
  .companyInfoMainBlock > img:nth-child(2) {
    margin: 20px 0px 0px 325px;
  }
  .companyInfo__text {
    padding: 120px 175px 0px 0px;
  }
}

.footer__input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--grayBorder);
  border-radius: 30px;
  margin: 81px 11px 0px 9px;
}
.footer__input > span:nth-child(1) {
  position: absolute;
  top: -37px;
  left: 93px;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80.8832px;
  line-height: 81px;
  color: var(--orangeText);
  text-shadow: 0px 71.5736px 57.2589px rgba(255, 107, 0, 0.11),
    0px 33.0906px 26.4725px rgba(255, 107, 0, 0.0815843),
    0px 18.9337px 15.147px rgba(255, 107, 0, 0.0689459),
    0px 11.4926px 9.1941px rgba(255, 107, 0, 0.0593943),
    0px 6.92481px 5.53985px rgba(255, 107, 0, 0.0506057),
    0px 3.85618px 3.08495px rgba(255, 107, 0, 0.0410541),
    0px 1.65852px 1.32681px rgba(255, 107, 0, 0.0284157);
}
.footer__input > span:nth-child(1)::after {
  content: url(../img/320/header/fire.png);
  position: relative;
  top: -92px;
  left: 40px;
}
.input__title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--textBlack);
  padding: 54px 30px 0px 30px;
}
.input__title > span {
  color: rgba(226, 0, 26, 1);
}
.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputBlock > input {
  width: 260px;
  height: 48px;
  border: 1px solid var(--grayBorder);
  border-radius: 15px;
  font-family: "Montserrat";
  color: var(--grayInputText);
  margin: 17px 0px 0px 0px;
  padding: 0px 0px 0px 23px;
}
.inputBlock > input:focus {
  border: 1px solid var(--grayBorderInputActive);
  color: var(--textBlack);
}
.inputBlock > button {
  width: 260px;
  height: 48px;
  font-family: "Montserrat";
  color: var(--BGwhite);
  margin: 19px 0px 19px 0px;
}
@media (min-width: 321px) {
  .footer__input {
    margin: 135px 23px 0px 25px;
  }
  .footer__input > span:nth-child(1) {
    font-size: 113.007px;
    line-height: 113px;
    top: -42px;
    left: 502px;
  }
  .footer__input > span:nth-child(1)::after {
    top: -130px;
    left: 74px;
  }
  .input__title {
    font-size: 48px;
    line-height: 48px;
    padding: 40px 195px 0px 40px;
    text-align: start;
  }
  .inputBlock {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .inputBlock > input:nth-child(1) {
    width: 305px;
    height: 64px;
    margin: 11px 0px 0px 0px;
  }
  .inputBlock > input:nth-child(2) {
    width: 305px;
    height: 64px;
    margin: 11px 0px 0px 14px;
  }
  .inputBlock > input:nth-child(3) {
    width: 640px;
    height: 64px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: -16px 0px 0px 0px;
  }
  .inputBlock > button:nth-child(4) {
    width: 231px;
    height: 64px;
    font-size: 16px;
    line-height: 28px;
    margin: 0px 0px 34px 0px;
  }
}
@media (min-width: 769px) {
  .footer__input {
    width: 1300px;
    height: 328px;
    margin: 145px 23px 0px 25px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .footer__input > span:nth-child(1) {
    grid-column-end: 2;
    top: -170px;
    left: 110px;
  }
  .footer__input > span:nth-child(1)::after {
    top: 109px;
    left: -78px;
  }
  .input__title {
    grid-row-end: 3;
    padding: 0px 160px 94px 110px;
  }
  .inputBlock {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .inputBlock > input:nth-child(1) {
    width: 240px;
    height: 64px;
    margin: 20px 0px 0px 15px;
  }
  .inputBlock > input:nth-child(2) {
    width: 260px;
    height: 64px;
    margin: 20px 111px 0px 0px;
  }
  .inputBlock > input:nth-child(3) {
    width: 524px;
    height: 64px;
    margin: 0px 0px 0px 13px;
  }
  .inputBlock > button:nth-child(4) {
    margin: 0px 0px 0px 20px;
  }
}
